body {
    margin:0;
}

.github
{
    position:fixed;
    z-index:0;
    top:10px;
    left:50%;
    padding-left:10px;
    padding-right:10px;
}

.panel-group {
    width: 215px;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.controls{
    opacity: 0.5;
    width: 250px;
    height: 1vh;
    position: fixed;
    z-index: 0;
    bottom: 25%;
    right: 0;
    padding-right: 25px;
    user-select: none;
    pointer-events:none;
}

.panel-title {
    text-align: center;
}

.property-name {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c {
    float: right;
    position: relative;
}

canvas{
    display: block
}



